/* Gruvbox color palette */
@define-color bg #282828;
@define-color fg #fbf1c7;
@define-color danger #cc241d;
@define-color success #98971a;
@define-color warn #d79921;
@define-color info #458588;

* {
  font-family: "Roboto", "FontAwesome";
  font-size: 14px;
}

window#waybar {
  background-color: @bg;
}

window#waybar.hidden {
  opacity: 0.2;
}

#workspaces button {
  background-color: transparent;
  color: @fg;
  box-shadow: inset 0 -3px transparent;
  border: none;
  border-radius: 0;
  padding: 0.25rem 0.5rem;
}

#workspaces button:hover,
#workspaces button.focused {
  background: inherit;
  box-shadow: inset 0 -3px @fg;
}

#workspaces button.urgent {
  background-color: @danger;
}

#window {
  color: @fg;
}

.modules-right > widget > * {
  color: @fg;
  padding: 0 1rem;
}

#battery.charging,
#battery.plugged {
  background-color: @success;
}

@keyframes blink {
  to {
    background-color: @fg;
    color: @bg;
  }
}

#battery.critical:not(.charging) {
  background-color: @danger;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#network.disconnected {
  background-color: @danger;
}

#pulseaudio.muted {
  background-color: @danger;
}

#tray > widget > * {
  padding: 0 0.75rem;
}

#tray:first-child {
  padding-left: 0.25rem;
}

#tray:last-child {
  padding-right: 1.25rem;
}

#tray > .needs-attention {
  background-color: @info;
}

#idle_inhibitor.activated {
  background-color: @info;
}
