/**
 * Colors
 * background: #424b54
 * red: #ee6352
 * green: #57a773
 * blue: #08b2e3
 */

* {
  font-family: "Roboto", "FontAwesome";
  font-size: 14px;
}

window#waybar {
  background-color: #424b54;
  border-bottom: 3px solid rgba(255, 255, 255, 0.2);
}

window#waybar.hidden {
  opacity: 0.2;
}

#workspaces button {
  background-color: transparent;
  color: #ffffff;
  box-shadow: inset 0 -3px transparent;
  border: none;
  border-radius: 0;
  padding: 0.25rem 0.5rem;
}

#workspaces button:hover {
  background: inherit;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.focused {
  background-color: rgba(255, 255, 255, 0.25);
  box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
  background-color: #ee6352;
}

#window {
  color: #ffffff;
}

.modules-right > widget > * {
  color: #ffffff;
  padding: 0 1rem;
}

#battery.charging,
#battery.plugged {
  background-color: #57a773;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #424b54;
  }
}

#battery.critical:not(.charging) {
  background-color: #ee6352;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#network.disconnected {
  background-color: #ee6352;
}

#pulseaudio.muted {
  background-color: #ee6352;
}

#tray {
  background-color: rgba(255, 255, 255, 0.125);
}

#tray > widget > * {
  padding: 0 1rem;
}

#tray:first-child {
  padding-left: 0.5rem;
}

#tray:last-child {
  padding-right: 0.5rem;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #08b2e3;
}

#idle_inhibitor.activated {
  background-color: #ffffff;
  color: #424b54;
}
