@define-color bg #d8dee9;
@define-color fg #2e3440;
@define-color danger #bf616a;
@define-color success #a3be8c;
@define-color warn #ebcb8b;
@define-color info #81a1c1;

@define-color selected_bg #4c566a;
@define-color selected_fg #eceff4;

@define-color input_bg #eceff4;
@define-color input_fg #2e3440;

* {
  font-family: "Roboto", "FontAwesome";
  font-size: 16px;
}

window {
  background-color: @bg;
  border-radius: 8px;
}

window > * {
  padding: 2rem;
}

#input {
  background-color: @input_bg;
  color: @input_fg;
  border: none;
  border-radius: 1.5rem;
  padding: 0.25rem 1rem;
  margin-bottom: 1rem;
}

#input:focus {
  border: none;
  box-shadow: none;
}

#entry {
  color: @fg;
  border-radius: 4px;
  padding: 0.75rem 1rem;
}

#entry:selected {
  background-color: @selected_bg;
}

#text {
  color: @fg;
}

#text:selected {
  color: @selected_fg;
}

expander list {
  background-color: @info;
}

expander list * {
  color: @bg;
}
