/* Gruvbox color palette */
@define-color bg #282828;
@define-color fg #fbf1c7;
@define-color danger #cc241d;
@define-color success #98971a;
@define-color warn #d79921;
@define-color info #458588;

* {
  font-family: "Roboto", "FontAwesome";
  font-size: 16px;
}

window {
  background-color: @bg;
  border: 3px solid @fg;
  border-radius: 8px;
}

window > * {
  padding: 2rem;
}

#input {
  background-color: @fg;
  color: @bg;
  border: none;
  border-radius: 1.5rem;
  padding: 0.25rem 1rem;
  margin-bottom: 1rem;
}

#input:focus {
  border: none;
  box-shadow: none;
}

#entry {
  color: @fg;
  border-radius: 4px;
  padding: 0.5rem 1rem;
}

#entry:selected {
  background-color: @info;
  color: @bg;
}

expander list {
  border-radius: 4px;
  margin: 0.5rem 1rem;
}

expander list * {
  color: @bg;
}
